
<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
<span></span>

<div class="absolute">


           <nav class="hidden gap-x-6 md:flex sm:flex items-center justify-center w-[500px] h-auto border border-[#2cbbf3e1] bg-[#0300145e]/80 px-[20px] py-[10px] rounded-full text-gray-200 flex-row fixed left-0 right-0 mx-auto" >
            
            <a href="#top">Inicio</a>
            <a href="#experiencia">Experiencia</a>
            <!-- <a href="#proyectos">Proyectos</a> -->
            <a href="#sobre-mi">Sobre mí</a>
            <a href="#contacto">Contacto</a>
            
            
            
            
        </div>
            
            
        </nav>
        
    
    
</div>

</header>